# Prompt configuration
PS1='[\u@\h \W]\$ '

# Source Cargo environment
if [ -f "$HOME/.cargo/env" ]; then
    source "$HOME/.cargo/env"
fi

# Source custom aliases based on the detected distribution
{{- if eq .chezmoi.osRelease.id "arch" }}
if [ -f "$HOME/.bash_aliases_arch" ]; then
    source "$HOME/.bash_aliases_arch"
fi
{{- else if eq .chezmoi.osRelease.id "fedora" }}
if [ -f "$HOME/.bash_aliases_fedora" ]; then
    source "$HOME/.bash_aliases_fedora"
fi
{{- end }}

# Global aliases
alias ecstasy='systemd-inhibit sleep infinity'

# Set PSPDEV environment variable and update PATH
export PSPDEV="$HOME/.local/sdk/pspdev"
export PATH="$PATH:$PSPDEV/bin"
