#!/bin/sh

KEY_PATH="{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"

if [ ! -f "$KEY_PATH" ]; then
    mkdir -p "$(dirname "$KEY_PATH")"
    chezmoi age decrypt --output "$KEY_PATH" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "$KEY_PATH"
fi
